@import "tailwindcss";

/* --primary: #094956;
  --primary-hover: #047b86; or use #47aeb4 */
:root {
  --background: #feffff;
  --primary: #047b86;
  --primary-hover: #094956; /* or use #47aeb4 */
  --secondary: #47aeb4;
  --third: #fd9a00;
  --accent: #84b5b9;
  --text: #1e293b;
  --border: rgba(4, 123, 134, 0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-third: var(--third);
  --color-accent: var(--accent);
  --color-text: var(--text);
  --color-border: var(--border);
}

/* Smooth transitions for theme switching */
* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background: var(--background);
  color: var(--color-text);
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}
